@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.works-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 0.25fr)); /* Responsive grid */
    gap: 0rem; /* Space between cards */
}

.item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.item.visible {
    opacity: 1;
    transform: translateY(0);
}

.invisible {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.visible {
    opacity: 1;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}


.image-rendering-smooth {
    image-rendering: auto; /* Default rendering */
    image-rendering: crisp-edges; /* For pixelated images */
    image-rendering: -webkit-optimize-contrast; /* For WebKit browsers */
    image-rendering: optimizeQuality; /* For better quality */
}