@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.works-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.25fr)); /* Responsive grid */
    gap: 0rem; /* Space between cards */
}

.item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s, transform 0.5s;
    transition-delay: 1s;
}

.item.visible {
    opacity: 1;
    transform: translateY(0);
}

.image-rendering-smooth {
    image-rendering: auto; /* Default rendering */
    image-rendering: crisp-edges; /* For pixelated images */
    image-rendering: -webkit-optimize-contrast; /* For WebKit browsers */
    image-rendering: optimizeQuality; /* For better quality */
}